/*#region nicepage*/
.u-section-1 .u-sheet-1 {
  min-height: 536px;
}

.u-section-1 .u-product-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 510px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-group-1 {
  width: 439px;
  min-height: 360px;
  height: auto;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-product-price-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 42px 0 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 360px;
  margin: -360px 776px 0 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 299px;
  margin: -360px 454px 0 327px;
}
/*#endregion nicepage*/

@font-face {
  font-family: 'Minecraft';
  src: url(../assets/Minecraft.woff) format('woff');
}

.mc-gui {
  --size: 2;

  font-family:Minecraft,sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
  box-sizing: border-box;
  background: #c6c6c6;
  border-color: #373737 #fff #fff #373737;
  border-style: solid;
  border-width: 4px;
}
.mc-gui.mc-gui-size-s{
  --size: 3;
}

.mc-items {  
  padding: calc(40px / var(--size));
  padding-left:1%;
  padding-right:1%;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.mc-gui-buttons {
  font-family:Minecraft,sans-serif;
  display:inline-block;
  padding: 10px;
  margin: 30px;
  background: #c6c6c6;
  border-color: #373737 #fff #fff #373737;
  border-style: solid;
  border-width: 4px;
}
.mc-recipes {
  margin: 0% 5%;
  align-items: center;

  gap: calc(160px / var(--size));
  grid-template-columns: repeat(auto-fill, 2000px);
}

.craft-grid {
  flex-wrap: wrap;
  display: grid;

  grid-template-columns: repeat(3, calc(108px / var(--size)));
  grid-template-rows: repeat(3, calc(108px / var(--size)));
}
.arrow {
  margin-left: calc(14px / var(--size));
  margin-right: calc(14px / var(--size));
}
.extra-icon {
  display: inline-flex;
}
.extra-icon .item-img {
  margin-bottom: calc(-144px / var(--size));
  height:calc(72px / var(--size));
  width: calc(72px / var(--size));

  background-position:calc(6px / var(--size) - var(--x) * 72px / var(--size)) calc(6px / var(--size) - var(--y) * 72px / var(--size));
}

.cell {  
  position: relative;
  background-color: #8b8b8b;
  border-color: #373737 #fff #fff #373737;
  border-style: solid;
  vertical-align: middle;
  align-items: center;
  display: flex;
  flex-wrap: wrap;  
  border-width: calc(8px / var(--size));
}
.cell:hover {
  background: #eee;
}

.cell-l {
  width: calc(316px / var(--size));
  height: calc(316px / var(--size));
}
.cell-m {
  align-items:stretch;
  padding: 12%;
  width: calc(144px / var(--size));
  height: calc(144px / var(--size));
}
.cell-s {
  width: calc(108px / var(--size));
  height: calc(108px / var(--size));
}

.item-img {
  display:inline-block;
  background-image: url("../assets//coolie//spritesheet.png");
  background-size: 1000%;

  height:calc(96px / var(--size));
  width: calc(96px / var(--size));

  background-position:calc(6px / var(--size) - var(--x) * 96px / var(--size)) calc(6px / var(--size) - var(--y) * 96px / var(--size));
}
.mc-gui-buttons .item-img {
  height:calc(144px / var(--size));
  width:calc(144px / var(--size));

  background-position:calc(6px / var(--size) - var(--x) * 144px / var(--size)) calc(6px / var(--size) - var(--y) * 144px / var(--size));
}
.mc-gui-buttons .item-img-next {
  height:calc(144px / var(--size));
  width:calc(144px / var(--size));

  background-position:calc(6px / var(--size) - calc(var(--x) + 1) * 144px / var(--size)) calc(6px / var(--size) - var(--y) * 144px / var(--size));
}
.mc-gui-button:hover{
  cursor: pointer;
  background-position:calc(6px / var(--size) - calc(var(--x) + 1) * 144px / var(--size)) calc(6px / var(--size) - var(--y) * 144px / var(--size));
}
.mc-nbt {
  margin: 10px;
  text-align:left;
  display:block;
  background-color:#100010;
  background-color:rgba(16,0,16,.94);
  color:#fff;
  padding:.375em;
  font-family:Minecraft,sans-serif;
  font-size:calc(48px / calc(var(--size) + 1));
  word-spacing:calc(12px / calc(var(--size) + 1));
  line-height:1.25em;
  text-shadow:.125em .125em 0 #3f3f3f;
  pointer-events:none;
  z-index:99;
  border: 2px solid #2D0A63;
  border-image: linear-gradient(rgba(80, 0, 255, 0.31), rgba(40, 0, 127, 0.31)) 1;
}

/*#region mc-tooltip*/
.mc-tooltip {
  --mc-color:#ffffff;

  display: none;
  text-align:left;
  position:fixed;
  top:0;
  left:0;
  background-color:rgba(16,0,16,.94);
  padding:.375em;
  font-family:Minecraft,sans-serif;
  font-size:calc(48px / calc(var(--size) + 1));
  word-spacing:calc(12px / calc(var(--size) + 1));
  white-space:nowrap;
  line-height:1.25em;
  text-shadow:.125em .125em 0 calc(#3f3f3f * var(--mc-color));
  margin:.125em .25em;
  pointer-events:none;
  z-index:99
 }
 .mc-tooltip:before {
  right:-.125em;
  left:-.125em;
  border-color:#100010;
  border-color:rgba(16,0,16,.94);
  border-style:none solid;
  border-width:.125em
 }
 .mc-tooltip:after,
 .mc-tooltip:before {
  content:"";
  position:absolute;
  top:.125em;
  bottom:.125em
 }
 .mc-tooltip:after {
  right:0;
  left:0;
  border:2px solid #2d0a63;
  border-image:linear-gradient(rgba(80,0,255,.31),rgba(40,0,127,.31)) 1
 }
 .mc-tooltip>div {
  color: var(--mc-color);
 }
 .mc-tooltip>div:first-of-type {
  margin-bottom: 4px;
 }

.mctc-black       {--mc-color: #000000;}
.mctc-dark_blue   {--mc-color: #0000AA;}
.mctc-dark_green  {--mc-color: #00AA00;}
.mctc-dark_aqua   {--mc-color: #00AAAA;}
.mctc-dark_red    {--mc-color: #AA0000;}
.mctc-dark_purple {--mc-color: #AA00AA;}
.mctc-gold        {--mc-color: #FFAA00;}
.mctc-gray        {--mc-color: #AAAAAA;}
.mctc-dark_gray   {--mc-color: #555555;}
.mctc-blue        {--mc-color: #5555FF;}
.mctc-green       {--mc-color: #55FF55;}
.mctc-aqua        {--mc-color: #55FFFF;}
.mctc-red         {--mc-color: #FF5555;}
.mctc-light_purple{--mc-color: #FF55FF;}
.mctc-yellow      {--mc-color: #FFFF55;}
.mctc-white       {--mc-color: #FFFFFF;}

.mctc-extra       {display: inline;}
/*#endregion mc-tooltip*/

@media (max-width: 1342px) {
  .u-section-1 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-1 .u-group-1 {
    min-height: 299px;
    margin-top: 390px;
    margin-bottom: -73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: -63px;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 576px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 354px;
    margin-left: 227px;
  }

  .mc-gui{
    --size: 3;
  }
  .mc-gui.mc-gui-size-s{
    --size: 4;
  }

}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 356px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 244px;
    margin-left: 117px;
  }
  
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-1 .u-product-1 {
    margin-bottom: -1px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 293px;
    margin-bottom: -38px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 216px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 174px;
    margin-left: 47px;
  }
  
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-1 .u-product-1 {
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .u-section-1 .u-group-1 {
    min-height: 310px;
    margin-top: 570px;
    margin-bottom: -73px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: -76px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 16px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 21px;
    margin-left: 0;
  }
}

