/* 
 collection of the watermark brainrot in #css-snippets
 some are edited to be compatible
*/

@font-face {
    font-family: "Supertext";
    src: url("https://cdn.discordapp.com/attachments/714888484565024844/1110309116875903137/unregistered-hype.ttf") ; /* lol */
}

/* Activate Discord | AkiraSimplex#5199 */
/* the og https://discord.com/channels/1015060230222131221/1028106818368589824/1109871258021138432 */
body::after {
    font-size: 20px;
    content: "Activate Discord";
    position: absolute;
    font-family: 'Noto Sans';
    color: white;
    opacity: 0.6;
    bottom: 80px;
    right: 164px;
    pointer-events: none;
}
div#app-mount::after {
    font-size: 14px;
    content: "Go to settings to activate Discord.";
    position: absolute;
    font-family: 'Noto Sans';
    color: white;
    opacity: 0.6;
    bottom: 60px;
    right: 102px;
    pointer-events: none;
}


/* Bandicam | Snare-Hawk#6331 */
/* https://discord.com/channels/1015060230222131221/1028106818368589824/1110262945927147583 */
.appAsidePanelWrapper-ev4hlp::after {
    font-size: 24px;
    content: "www.Bandicam.com";
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: white;
    opacity: 0.6;
    font-weight: bold;
    text-shadow: 0px 0px 10px black;
    margin: auto;
    margin-top: 2px;
    pointer-events: none;
    z-index: 999;
    left: 50%;
    top: -3px;
    position: absolute;
    transform: translateX(-50%);
}


/* Shutterstock | nml#7636 */
/* https://discord.com/channels/1015060230222131221/1028106818368589824/1110281082844237854 */
div#app-mount::before {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://i.imgur.com/rBFOL9I.png);
    content:'';
    left:50%;
    top: 50%;
    width: 90%;
    height: 90%;
    z-index: 999;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/* Unregistered Hypercam 2 | Snare-Hawk#6331 */
/* https://discord.com/channels/1015060230222131221/1028106818368589824/1110282836772147201 */
.appAsidePanelWrapper-ev4hlp::before {
    content: "Unregistered Hypercam 2";  
    font-family: "Supertext";
    background-color: white;
    display: flex;
    padding-left: 2px;
    top: 0px;
    left: 0px;
    font-size: 16px;
    height: 19px;
    position: absolute;
    z-index: 999;
}


/* gettyimages | siIver#7587 */
/* https://discord.com/channels/1015060230222131221/1028106818368589824/1110293408167243776 */
.notAppAsidePanel-3yzkgB::after {
  background-image: url(https://i.imgur.com/EJxRD1m.png);
  content: "";
  left: 73%;
  top: 55%;
  width: 29%;
  height: 26%;
  z-index: 999;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}


/* ifunny.co | lew ♡#1712 */
/* https://discord.com/channels/1015060230222131221/1028106818368589824/1110300814876094534 */
body::before {
background-image: url("https://cdn.discordapp.com/attachments/1024286218801926184/1110305122086551602/Untitled1.png");
  content: "";
  z-index: 727;
  position: absolute;
  background-position: top 100% left 100%;
  background-repeat: no-repeat;
  pointer-events: none;
  width: 100%;
  background-color: #171719;
  bottom: 0px;
  height: 18px;
}


/* dvd logo | nml#7636 */
/* https://discord.com/channels/1015060230222131221/1028106818368589824/1110319718188986448 */
@keyframes dvd-x {
    from {left: 0px;}
    to {left: calc(100% - 110px);}
}
@keyframes dvd-y {
    from {top: 0px;}
    to {top: calc(100% - 50px);}
}
@keyframes dvd-cx {
    from {--cx: 0deg;}
    to {--cx: 120deg;}
}
@keyframes dvd-cy {
    from {--cy: 0deg;}
    to {--cy: 90deg;}
}
.notAppAsidePanel-3yzkgB::before {
  background-image: url(https://cdn.discordapp.com/attachments/714888484565024844/1110313146347954256/dvd-logo-png-33.png);
  content: "";
  width: 110px;
  height: 50px;
  z-index: 999;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  filter: hue-rotate(calc(var(--cx) + var(--cy)));
  -webkit-filter: hue-rotate(calc(var(--cx) + var(--cy)));
  animation: dvd-x infinite linear 11s alternate-reverse,
             dvd-y infinite linear 7s alternate-reverse,
             dvd-cx infinite steps(2, jump-both) 22s,
             dvd-cy infinite steps(2, jump-both) 14s;
}