.yt-bg{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center 0%;
    background-repeat: no-repeat;
    position: relative;
    margin-top: -5%;
}
.yt-bg-blur{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: static;
    display: flex;
    margin: auto;
    backdrop-filter: blur(50px);
}

.yt-view{
    display: flex;
    margin: auto;
    width: 70%;
    padding: 10px;
}
.yt-player-wrapper{
    display: block;
    aspect-ratio: 19/8;
}
.yt-playlist{
    border: none;
    border-radius: 5%;
    display: block;
    background-color: #3e4753;
    width: 25%;
    margin-left: auto;
    padding: 2%;
}
.pl-video{
    display: flex;
    border: none;
    border-radius: 5%;
    height: 18%;
    background-color: #000;
    margin-bottom: 5%;
    vertical-align:middle;
    align-items: center;
}
.pl-video:first-of-type{
    background-color: #11151a;
}
.pl-text{
    display: inline;
}
.settings{
    display: flex;
    flex-wrap: wrap;  
}
.settings span{
    background-color: #3e4753;
    padding: 10px;
    margin: 10px;
    border-radius: 5%;
}
input{
    background-color: #11151a;
    width: 3em;
}
input.btn-playlist{
    width: 12em;
}
  