body {
    background: #3e4753;
    align-items: center;
    padding: 0px 10%;
}

.debt {
    margin: auto;
    margin-top: 20%;
    padding: 5%;
    width: 70%;
    background-color: #000a;
    color: #fff;
    text-align: center;
    align-items: center;
    border-radius: 50px;
}
.debt .title{
    padding-bottom: 5%;
}
.debt .ammount{
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 50px;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    max-width: 410px;
    width: 100%;
}


.date {
    margin: auto;
    margin-top: 20%;
    padding: 2%;
    width: 30%;
    background-color: #000a;
    color: #fff;
    text-align: center;
    align-items: center;
    border-radius: 50px;
}
.input{
    color: black;
    margin: auto;
    display: flex;
}


.rainbow{
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}