.projects-wrapper{
  margin: 5%;
  padding: 2% 2% 5%;
  text-align: center;
  background-color: #11151a7f;
  border-radius: 50px;
}


.links-wrapper{
  background-color: #11151a;
  text-align: center;
  border-radius: 50px;
}
.link-objects{
  display: grid;
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  min-height: 469px;
  grid-gap: 10px 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
@media (max-width: 991px){
  .link-objects {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 497px;
  }
}
@media (max-width: 575px){
  .link-objects {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}
.link-image{  
  object-fit: cover;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;

  width: 130px;
  height: 130px;
  background-position: 50% 50%;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
}
.link-image:hover{
  transform: scale(1.2);
}
.image-circle{
  border-radius: 50% !important;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #3e4753;
    overflow: hidden;
    margin-top: 0px;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 16s linear infinite;
}
.background li:nth-child(0) {
    left: 30%;
    width: 161px;
    height: 161px;
    bottom: -161px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 74%;
    width: 170px;
    height: 170px;
    bottom: -170px;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 88%;
    width: 136px;
    height: 136px;
    bottom: -136px;
    animation-delay: 3s;
}
.background li:nth-child(3) {
    left: 47%;
    width: 159px;
    height: 159px;
    bottom: -159px;
    animation-delay: 1s;
}
.background li:nth-child(4) {
    left: 43%;
    width: 138px;
    height: 138px;
    bottom: -138px;
    animation-delay: 19s;
}
.background li:nth-child(5) {
    left: 20%;
    width: 156px;
    height: 156px;
    bottom: -156px;
    animation-delay: 8s;
}
.background li:nth-child(6) {
    left: 18%;
    width: 154px;
    height: 154px;
    bottom: -154px;
    animation-delay: 13s;
}
.background li:nth-child(7) {
    left: 8%;
    width: 151px;
    height: 151px;
    bottom: -151px;
    animation-delay: 21s;
}
.background li:nth-child(8) {
    left: 1%;
    width: 165px;
    height: 165px;
    bottom: -165px;
    animation-delay: 13s;
}
.background li:nth-child(9) {
    left: 29%;
    width: 129px;
    height: 129px;
    bottom: -129px;
    animation-delay: 32s;
}