body {
    font-family: 'Poppins', 'Rubik';
    font-size: 22px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 600% 600%;
    animation: gradient 15s ease infinite;
    min-height: 400px;
}

.container {
    display: flex;
    align-items: center;
}

.scroll {
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto;
    margin: auto;
    margin-top: 100px;
    width: 70vw;
    height: 70vw;
    float: left;
}

.window {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 30px;
    border-radius: 15px;
    background-color: #fff2;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.logo-container image {
    width: 20%;
    max-width: 200px;
}

.button {
    margin: auto;
    border: 0px;
    padding: 15px;
    display: inline-block;
    background-color: #fffd;
    border-radius: 20px;
    cursor: pointer;
}

.input {
    margin-right: 50px;
}

.window div {
    margin: 0;
    padding: 0;
    position: relative;
    width: 90%;
}

.window canvas {
    margin: 5%;
    width: 100%;
    image-rendering: pixelated;
    position: absolute;
    top: 0;
    left: 0;
}

.info {
    float: left;
    width: 18%;
    padding: 10px;
    margin: 10px;
}

.info div span {
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    top: 4px;
    padding-right: 20px;
}
.info .block {
  background-image: url("/assets/terraria/blocks.png");
  background-position:0 calc(var(--i) * -24px);
}
.info .paint {
  background-image: url("/assets/terraria/paint.png");
  background-position:0 calc(var(--i) * -20px);
}

.text {
    margin: 20px 60px;
}


.hide {
    display: none;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}